<nav>
    <div class="container">
        <div class="content col-10">
            <h2 class="logo">Market</h2>
            <ul class="col-6">
                <li routerLink="/products" routerLinkActive="router-link-active" class="">products</li>
                <li routerLink="/cart" routerLinkActive="router-link-active" class="" >Cart</li>
                <li routerLink="/admin" routerLinkActive="router-link-active" class="">admin</li>
                <li routerLink="/admin/market" routerLinkActive="router-link-active" class="">admin market</li>
            </ul>
        </div> 
    </div>
</nav>
